* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  user-select: none;
  letter-spacing: 1px;
  text-align: center;
  color: rgb(250, 241, 216);
}

.container {
  display: flex;
  flex-direction: column;
}

.dicee {
  display: flex;
  justify-content: center;
}

body {
  background-color: #24272c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  margin: 0;
}

h1 {
  margin: 30px;
  text-shadow: 5px 0 #232931;
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

img {
  width: 60%;
}

span {
  cursor: pointer;
}

button {
  border: none;
  background-color: rgb(156, 6, 12);
  text-transform: uppercase;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

button:hover {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid white;
}

.btnReset {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

footer {
  position: absolute;
  bottom: 20px;
}

footer a {
  text-decoration: none;
}

.rezultat p {
  margin: 0;
  margin-top: 30px;
}

.rez {
  display: inline;
}

span {
  font-size: 2.5rem;
}

@media screen and (max-width:980px) {
  .rezultat p {
    font-size: 1.5rem;
  }

  span {
    font-size: 1.2rem;
  }

  footer {
    bottom: 5px;
  }
}

@media screen and (max-width:800px) {
  img {
    width: 50%;
  }

  h1 {
    font-size: 1.6rem;
  }

  .rezultat p {
    font-size: 1.5rem;
  }

  span {
    font-size: 1.2rem;
  }

  footer {
    bottom: 5px;
  }
}

@media screen and (max-width:500px) {
  button {
    padding: 5px;
  }

  p {
    font-size: 1rem;
  }
}

@media screen and (max-width:360px) {
  footer a {
    font-size: 0.8rem;
  }
}
